CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
src/bench
src/test
src/MakefilE
src/cmake_install.cmake
src/CMakeFile
build/*
cmake-build-debug/

js_build
node_modules

main
.o
obj/
src/*.o
depends/relic/CTestTestfile.cmake
depends/relic/bench/CTestTestfile.cmake
depends/relic/bin
depends/relic/include/relic_conf.h
depends/relic/include/relic_conf.h.in
depends/relic/include/relic_conf.h.old
depends/relic/include/stamp-h1
depends/relic/test/CTestTestfile.cmake
contrib/gmp-6.1.2/

.idea
.vscode
runtest
runtest.*
runbench
runbench.*

.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h
*.lo
*.la

**/.DS_Store

*.whl
venv
env/
yarn-error.log

.vs/
out/

target

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
configure
libtool

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/ltmain.sh
/texinfo.tex

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
*.lcov
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cython debug symbols
cython_debug/

# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# PEP503 index
_site
